body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.dashboard {
    display: flex;
}

.barra__lateral {
    width: 70vh;
    height: 1em;
    padding-bottom: 100vh;
    background-image: url(/interactive-card-details-form-main/images/bg-main-desktop.png);
}

.cards {
    margin-left: 10em;
    padding: 0.5em;
}

.card1{
    width: 60vh;
    margin-top: 15vh;
}

.card2{
    width: 60vh;
    margin-left: 15vh;
}

.formulario {
    display: grid;
    place-items: center;
    margin: auto;
}

.principal__formulario {
    display: block;
    align-items: center;
    justify-content: center;
}

.formulario__campo {
    display: grid;
    padding: 1em;
}

.campo__escrita {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 0.5em;
}

#infoCard {
    width: 4em;
    margin-right: 1em;
}

#enviar {
    margin-top: 2em;
    background-color: hsl(278, 94%, 30%);
    width: 25em;
    padding: 0.8em;
    border-radius: 5px;
    border: none;
}